# Final Project for Principles of Data Analytics - GMIT 2024/01
#### Author: Gustavo Fernandes
****

### Task 01 - Create an overview of the data set and the variables it contains

#### 1.1 Import and Test Data Base

In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Load the penguins dataset
penguins = pd.read_csv('palmerpenguins.data')

# Display the first rows as header
penguins.head()

penguins.replace(r'^\s*$', np.nan, regex=True)

# Display the dataset
print(penguins)

    species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen            39.1           18.7              181.0
1    Adelie  Torgersen            39.5           17.4              186.0
2    Adelie  Torgersen            40.3           18.0              195.0
3    Adelie  Torgersen             NaN            NaN                NaN
4    Adelie  Torgersen            36.7           19.3              193.0
..      ...        ...             ...            ...                ...
339  Gentoo     Biscoe             NaN            NaN                NaN
340  Gentoo     Biscoe            46.8           14.3              215.0
341  Gentoo     Biscoe            50.4           15.7              222.0
342  Gentoo     Biscoe            45.2           14.8              212.0
343  Gentoo     Biscoe            49.9           16.1              213.0

     body_mass_g     sex
0         3750.0    MALE
1         3800.0  FEMALE
2         3250.0  FEMALE
3            NaN     NaN
4         3450.0  FEMALE
..           ...     ...
339          NaN     NaN
340       4850.0  FEMALE
341       5750.0    MALE
342       5200.0  FEMALE
343       5400.0    MALE

[344 rows x 7 columns]

In [20]:
penguins.columns
penguins.shape
penguins.iloc[1]
print(penguins)
penguins.loc[penguins['species'] == 'Adelie']
penguins['species'].value_counts()
sum_penguins = penguins.groupby('species').sum()
#mean_penguins = penguins.groupby('species').mean()
#median_penguins = penguins.groupby('species').median()
print(sum_penguins)
#print(mean_penguins)
#print(median_penguins)

    species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen            39.1           18.7              181.0
1    Adelie  Torgersen            39.5           17.4              186.0
2    Adelie  Torgersen            40.3           18.0              195.0
3    Adelie  Torgersen             NaN            NaN                NaN
4    Adelie  Torgersen            36.7           19.3              193.0
..      ...        ...             ...            ...                ...
339  Gentoo     Biscoe             NaN            NaN                NaN
340  Gentoo     Biscoe            46.8           14.3              215.0
341  Gentoo     Biscoe            50.4           15.7              222.0
342  Gentoo     Biscoe            45.2           14.8              212.0
343  Gentoo     Biscoe            49.9           16.1              213.0

     body_mass_g     sex
0         3750.0    MALE
1         3800.0  FEMALE
2         3250.0  FEMALE
3            NaN     NaN
4         3450.0  FEMALE
..           ...     ...
339          NaN     NaN
340       4850.0  FEMALE
341       5750.0    MALE
342       5200.0  FEMALE
343       5400.0    MALE

[344 rows x 7 columns]
                                                      island  bill_length_mm  \
species
Adelie     TorgersenTorgersenTorgersenTorgersenTorgersenT...          5857.5
Chinstrap  DreamDreamDreamDreamDreamDreamDreamDreamDreamD...          3320.7
Gentoo     BiscoeBiscoeBiscoeBiscoeBiscoeBiscoeBiscoeBisc...          5843.1

           bill_depth_mm  flipper_length_mm  body_mass_g  \
species
Adelie            2770.3            28683.0     558800.0
Chinstrap         1252.6            13316.0     253850.0
Gentoo            1842.8            26714.0     624350.0

                                                         sex
species
Adelie     MALEFEMALEFEMALEFEMALEMALEFEMALEMALEFEMALEMALE...
Chinstrap  FEMALEMALEMALEFEMALEMALEFEMALEFEMALEMALEFEMALE...
Gentoo     FEMALEMALEFEMALEMALEMALEFEMALEFEMALEMALEFEMALE...

***
### Resource

https://vlegalwaymayo.atu.ie/

https://ianmcloughlin.github.io/2324_principles_of_data_analytics/

[Co-pilot]

https://stackoverflow.com/questions/13445241/replacing-blank-values-white-space-with-nan-in-pandas

***
# End
***