# Final Project for Principles of Data Analytics - GMIT 2024/01
#### Author: Gustavo Fernandes
****

### Task 01 - Create an overview of the data set and the variables it contains

#### 1.1 Import and Test Data Base

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Load the penguins dataset
penguins = pd.read_csv('palmerpenguins.data')

# Display the first rows as header
penguins.head()

penguins.replace(r'^\s*$', np.nan, regex=True)

# Display the dataset
print(penguins)

    species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen            39.1           18.7              181.0
1    Adelie  Torgersen            39.5           17.4              186.0
2    Adelie  Torgersen            40.3           18.0              195.0
3    Adelie  Torgersen             NaN            NaN                NaN
4    Adelie  Torgersen            36.7           19.3              193.0
..      ...        ...             ...            ...                ...
339  Gentoo     Biscoe             NaN            NaN                NaN
340  Gentoo     Biscoe            46.8           14.3              215.0
341  Gentoo     Biscoe            50.4           15.7              222.0
342  Gentoo     Biscoe            45.2           14.8              212.0
343  Gentoo     Biscoe            49.9           16.1              213.0

     body_mass_g     sex
0         3750.0    MALE
1         3800.0  FEMALE
2         3250.0  FEMALE
3            NaN     NaN
4         3450.0  FEMALE
..           ...     ...
339          NaN     NaN
340       4850.0  FEMALE
341       5750.0    MALE
342       5200.0  FEMALE
343       5400.0    MALE

[344 rows x 7 columns]

In [19]:
# Display the dataset information
gender_counts = penguins.groupby(['species', 'sex'])['sex'].count().unstack()
gender_counts.columns = ['Female', 'Male']
print(gender_counts)

island_counts = penguins.groupby(['species', 'island'])['island'].count().unstack()
island_counts.columns = ['Biscoe', 'Dream', 'Torgersen']
print(island_counts)

mean_bill_length = penguins.groupby(['species', 'bill_length_mm'])['bill_length_mm'].mean().unstack()
#mean_bill_length.columns = ['species', 'bill_length_mm']
print(mean_bill_length)

           Female  Male
species
Adelie         73    73
Chinstrap      34    34
Gentoo         58    61
           Biscoe  Dream  Torgersen
species
Adelie       44.0   56.0       52.0
Chinstrap     NaN   68.0        NaN
Gentoo      124.0    NaN        NaN
bill_length_mm  32.1  33.1  33.5  34.0  34.1  34.4  34.5  34.6  35.0  35.1  \
species
Adelie          32.1  33.1  33.5  34.0  34.1  34.4  34.5  34.6  35.0  35.1
Chinstrap        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
Gentoo           NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

bill_length_mm  ...  52.8  53.4  53.5  54.2  54.3  55.1  55.8  55.9  58.0  \
species         ...
Adelie          ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
Chinstrap       ...  52.8   NaN  53.5  54.2   NaN   NaN  55.8   NaN  58.0
Gentoo          ...   NaN  53.4   NaN   NaN  54.3  55.1   NaN  55.9   NaN

bill_length_mm  59.6
species
Adelie           NaN
Chinstrap        NaN
Gentoo          59.6

[3 rows x 164 columns]

***
### Resource

https://vlegalwaymayo.atu.ie/

https://ianmcloughlin.github.io/2324_principles_of_data_analytics/

[Co-pilot]

https://stackoverflow.com/questions/13445241/replacing-blank-values-white-space-with-nan-in-pandas

***
# End
***